@font-face {
    font-family: 'bromo';
    src: url('/bromo.otf') format('otf');
}

body
{
    background-image: url("./image/white.jpg");
    background-repeat: no-repeat;
    background-position: left;
    font-family: "bromo";
}

h2
{
	color: teal;
   box-shadow: 2px 2px 0px teal;
}

.title
{
	text-align: center;
  font-family: "bromo";
}

.subtitle
{
	text-align: center;
	text-decoration: underline;
  font-family: "bromo";
  border: 1px blue dashed;
}
