<% provide(:title, "Secret") %>
<h1>Voici la réponse</h1>


<%= link_to image_tag("http://image-image.linternaute.com/image/600/1330945896/63716386.jpg", alt: "Reponse") %>

  <%= link_to "Retour", 'home'%>