<!DOCTYPE html>
	<html>

	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<html style="font-size: 10px;font-family: Roboto, Arial, sans-serif;">
	
		<title> <%= @video.title %> </title>
	</head>


	<body>
	
		<!-- HEADER -->
	<div class="navbar">
		<ul>
			<li>
				<a href="https://www.google.fr/intl/fr/about/products/" target="_blank"><i class="material-icons">menu</i></a>
			</li>	  	
	  			<a href="https://www.youtube.com/"><img src="http://www.socialmediastatistik.de/wp-content/uploads/2012/05/youtube-logo-150x150.jpg" style="height:30px; width:30px"></a>
	  		</li>


								<!-- FORM--> 
			<li><div class="form">  
      		<form><label for="form-search"></label>
        	<div class=search>
       	 	<input type="text" id="form-search" value="Rechercher" onclick="javascript:this.value=''"/>    
       	 	</div>
     		</form>
 			</div></li>
 			<ul>

			<ul class="header-right"> 
			<li>
			 	<a href="https://www.google.fr/intl/fr/about/products/" target="_blank"><i class="material-icons">apps</i></a>
			 </li>

		  	<li>
		  		<a href="http://kaamelott-soundboard.2ec0b4.fr/#son/a_roulettes" target="_blank"><i class="material-icons">notifications</i></a>
		  	</li>
		   	<li>
		   		<a href="https://myaccount.google.com/" target="_blank"><i class="material-icons">account_circle</i></a>
		   	</li>
			</ul>
			</div>


  								<!-- VIDEO --> 
	<div class="google">
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allowfullscreen></iframe>

<%= @video.title %> <br>
<div>
370 185 847 vues 
<i class="material-icons">thumb_up</i>
16K
<i class="material-icons">thumb_down</i>
398
<i class="material-icons">redo</i>
PARTARGER
<i class="material-icons">playlist_add</i>
<i class="material-icons">more_horiz</i>

</div>

</div>

			<aside>
				<br><br>
	<iframe width="336" height="189" src="https://www.youtube.com/embed/cyMHZVT91Dw" frameborder="0" allowfullscreen></iframe>
	<iframe width="336" height="189" src="https://www.youtube.com/embed/d6K3T63w8AA" frameborder="0" allowfullscreen></iframe>
	<iframe width="336" height="189" src="https://www.youtube.com/embed/hpt600Wq-U0" frameborder="0" allowfullscreen></iframe>

			</aside>

       						<!-- FOOTER -->
    <footer>
        
        <ul class="footer-left">
          	<li><a href="http://kaamelott-soundboard.2ec0b4.fr/#son/mais_ya_rien_a_developper_cest_de_la_merde_cest_tout" target="_blank">Publicité</a></li>
          	<li><a href="https://www.youtube.com/watch?v=hrEihFkjgwg" target="_blank">Entreprise</a></li>
          	<li><a href="http://kaamelott-soundboard.2ec0b4.fr/#son/il_m_aura_fait_chier_jusqu_au_bout_celui_la" target="_blank">A propos</a></li> 
        </ul>
        
      
        <ul class="footer-right">    
          	<li><a href="http://www.archimag.com/vie-numerique/2015/11/10/5-tests-faciles-verifier-google-sait-vous-donnees-personnelles" target="_blank">Confidentialité</a></li>
         	  <li><a href="http://kaamelott-soundboard.2ec0b4.fr/#son/mais_qu_est_ce_que_j_en_ai_a_foutre" target="_blank">Conditions d'utilisation</a></li>
          	<li><a href="https://giphy.com/gifs/lTyHKdTHfibra/html5" target="_blank">Paramètres</a></li>
          	<li><a href="https://duckduckgo.com/">Utiliser DuckDuckGo</a></li>
        </ul>       
    
    </footer>      
 
</body>

</html>









