<h1>A propos</h1>
<p>Je m'en bats les ****** 'Kaaris'</p>

<%= link_to 'Tu veux des détails coquins sur moi ?',  toi_path %>
<br>
<%= link_to 'Tu veux des infos sur mon collègue ?', ton_binome_path  %>