<div class="center jumbotron">
  <h1>Veux-tu connaître la réponse à la question de l'univers ? </h1>

  <h2>
   si tu le veux, choisis ton cas : 
  </h2>

  <%= link_to "Enregistre-toi", 'signup', class: "btn btn-lg btn-primary" %> ||
  <%= link_to "Identifie-toi", 'login', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("http://media.istockphoto.com/vectors/top-secret-rubber-stamp-vector-id504757234", alt: "Secret") %>

